body {
 margin:0;
}
.menu {
  display: flex;
  align-items: center;
  padding-top: 4px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 130px;
}
.main-section {
  margin: auto;
  width: 80%;
}
.wrapper {
  margin: auto;
  width: 80%;
}
.logo, .menu {
  display: inline-block;
}
.logo {
  position: relative;
  padding: 40px 0 40px 44px;
  font: bold 24px/31px 'pt_serifbold', arial, helvetica, sans-serif;
}
.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.logo__circle_color_dark-blue {
  background: #0056EC;
  opacity: .7;
  left: 0;
}
.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
  opacity: .7;
}
.menu__item {
  position: relative;
  margin-right: 23px;
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  left: 0;
  width: 0;
  height: 3px;
  transition: opacity .5s;
}
.menu__item:last-child {
  margin-right: 8px;
}
.menu__item_active::after {
  display: block;
  content: '';
  left: 0;
  position: absolute;
  width: 68px;
  height: 3px;
  background: #0056EC;
}
.menu__item:hover {
  opacity: 0.5;
}
.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}
.main {
  padding: 0 63% 270px 0;
  background: top right 5px no-repeat url("img/mainImg.svg");
}
.main__title {
   margin: 0 0 38px 0;
   padding-top: 80px;
   font: 66px/84px 'pt_serifbold', arial, helvetica, sans-serif;
   line-height: 85px;
}
.main__title_highlight {
  background: linear-gradient(180deg,rgba(255,255,255,1) 15%, #ECF3FF 15%);
}
.main__subtitle {
  margin: 0 0 42px 0;
  padding-right: 130px;
  font: 400 22px/26px 'Roboto', arial, helvetica, sans-serif;
  letter-spacing: 0.1px;
  line-height: normal;
}
.main__button {
  display: inline-block;
  font: 18px/14px 'Roboto', arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 20px 34px 21px 27px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}
.main__button:hover {
 opacity: .5;
}
.footer {
 display: flex;
 justify-content: center;
}
@media (max-width:1366px) {
.wrapper {
 width: 68%;
 }
.menu {
 padding-top: 8px;
 }
 .hamburger-menu {
  display: none;
 }
.header {
 padding-bottom: 80px;
 }
 .main {
  padding: 0 58% 145px 0;
  background-size: 56%;
  margin-right: -14px;
 }
 .logo__circle {
  top: 49%;
 }
 .logo__circle_color_dark-blue {
  left: 0;
 }
 .logo__circle_color_blue {
  left: 8px;
  top: 56%;
  }
 .menu__item {
  margin-right: 16px;
  font: 500 16px/18px 'Roboto', arial, helvetica, sans-serif;
 }
 .menu__item:last-child {
  margin-right: 2px;
 }
 .main__title {
  margin-bottom: 15px;
  font: 49.8px/63px "pt_serifbold", arial, helvetica, sans-serif;
  padding-top: 25px;
 }
 .main__subtitle {
  width: 90%;
  padding-top: 28px;
  margin-bottom: 40px;
  padding-right: 57px;
  font: 500 17.9px/20px "Roboto", arial, helvetica, sans-serif;
 }
 .main__button {
  font: 500 13px/9px "Roboto", arial, helvetica, sans-serif;
  padding: 20px 27px 20px 27px;
 }
}
@media (max-width:1024px) {
.wrapper {
 width: 91%;
 }
 .hamburger-menu {
  display: none;
 }
.header {
 margin-bottom: 5px;
 }
 .main {
 text-align: left;
 padding: 2% 0 147px;
 margin-right: -5px;
 background-size: 55%;
 }
 .logo {
  position: relative;
  padding: 36px 0 40px 44px;
 }
 .menu {
 padding-top: 6px;
 }
 .menu__item {
  margin-right: 15px;
  font: 500 16px/18px 'Roboto', arial, helvetica, sans-serif;
 }
 .menu__item:last-child {
  margin-right: 0px;
 }
 .main__title {
  margin-bottom: 15px;
  width: 45%;
  font: 50px/64px "pt_serifbold", arial, helvetica, sans-serif;
  padding-top: 0px;
 }
 .main__subtitle {
  width: 42%;
  padding-top: 28px;
  margin-bottom: 40px;
  padding-right: 57px;
  font: 500 17.9px/20px "Roboto", arial, helvetica, sans-serif;
 }
 .main__button {
  font: 500 13px/10px "Roboto", arial, helvetica, sans-serif;
  padding: 19px 26px 17px 27px;
 }
}
@media (max-width: 768px) {
 .menu {
 display: none;
 }
 .wrapper {
  margin: 200px; auto;
  width: 320px;
  background-color: black;
  position: relative;
  color: white;
  text-align: center;
  height: 40px;
  font-family: "Roboto";
 }
 .check-menu {
  display: none;
 }
.label {
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 width: 120px;
 height: 40px;
 cursor: pointer;
 z-index: 2;
 line-height: 40px;
}
.burger-line {
 position: absolute;
 top: 8px;
 right: 10px;
 width: 35px;
 height: 2px;
 background-color: black;
 transition: .5s all;
}
.second, .third {
 top: 18px;
}
.forth {
top: 28px;
}
.main-menu {
 display: block;
 position: absolute;
 width: 320px;
 max-height: 0;
 font-size: 0;
 overflow: hidden;
 bottom: 0;
 left: 0;
 transform: translateY(100%);
 transition: .5s all;
 .a {
  display: block;
  width:100%;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-top: 1px solid; rgba(225,255,255..3);
  background-color: #003;
 }
 #check-menu: checked - .main-menu {
  max-height: 500px;
  font-size: 16px;
 }
 #check-menu: checked - .first {
  display: none;
 }
 #check-menu: checked - .second {
  transform: rotate(45 deg);
 }
 #check-menu: checked - .third {
  transform: rotate(-45 deg);
 }
 #check-menu: checked - .forth {
  display: none;
 }
}
 .header {
 margin-bottom: 28px;
 }
 .logo > span {
 display: none;
 }
 .main {
 padding: 74% 0 0;
 text-align: center;
 background-size: 74%;
 background-position: top center;
 }
 .main__title {
 margin-bottom: 44px;
 font: bold 30px/39px pt_serif, arial, helvetica, sans-serif;
 }
 .main__subtitle {
 margin-bottom: 25px;
 font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
 }
 .main__button {
 text-align: center;
 font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
 }
}
@media (max-width:375px) {
.menu {
 display: none;
 }
 .hamburger-menu {
  display: none;
 }
}
