.title {font-family: Roboto;}
body {
   margin:0;
}
.menu {
 display: flex;
 align-items: center;
}
.header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: auto;
 width: 80%
}
.wrapper {
 margin: auto;
 width: 80%;
}
.logo, .menu {
display: inline-block;
}
.logo {
 margin-right: 63%;
 padding: 40px 0;
}
.menu__item {
 padding: 0 13px;
 }
.menu__item:last-child {
 padding-right: 0;
}
